.slider{
padding-top: 40px;
    .slider-text{
        h1{
            color: #303030;
font-size: 48px;
font-weight: 700;
line-height: normal;
 }
 p{
  
font-size: 20px;
padding: 16px 0 20px 0;
font-weight: 400;
line-height: normal;
 }
 .input{
    padding: 15px;
    border: 1px  solid #A5A5A5;;
    border-radius: 4px;
    margin: 0 20px 0 0;
    input{
      border: none;
      background:none;
      width: 100%;
      outline: none;
    }

 }


 .button{
    a{
          background-color: var(--sky);
     padding: 15px 20px;
        border-radius: 6px;
        color: var(--white);

    }
 }
    }


    .slider-img{
        img{
            width: 100%;
        }
    }
}


.trusted{
    background-color: var(--white);
    padding: 50px 0;
    text-align: center;
    h2{
        color: #303030;
        font-size: 36px;
        font-weight: 700;
        line-height: normal;
       
    }
    p{
        color: #303030;
        font-size: 16px;
       
        font-weight: 400;
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
 
    }
    .company-logo{
        width: 80%;
        margin: auto;
        img{
            width: 100%;
        }
    }
}



.about{
    padding: 100px 0;
    .about-text{
        span{
            color: #0086D5;
            font-size: 16px;
            font-weight: 400;
            display: block;

        }
        h2{
            color: #303030;
            font-size: 38px;
            font-weight: 700;
            padding: 10px 0 0px;

        }
        p{
            color: #303030;
            font-size: 16px;
            width: 80%;
            padding: 10px 0;
            font-weight: 400;

        }
        .about-btn{
            padding: 16px 0;
            a{
                background-color: var(--sky);
                border-radius: 4px;
                color: var(--white);
                padding: 10px 20px;
            }
        }
    }


    .about-text-card{
        ul{
            li{
                .right-card{
                    background-color: var(--white);
                    border: 1px solid var(--gray);
                    border-radius: 30px;
                    padding: 20px 15px;
                  margin:10px 0px;
                  .rad{
                    width: 57px;
                    height: 57px;
                    background-color: var( --red);
                    border-radius: 15px;
                    display: block;
                    img{
                        
                        padding:  5px 14px;
                        margin: auto;
                    }

                  }


                  h2{
                    color: #303030;
                    font-size: 24px;
                    font-style: normal;
                    padding-top: 5px;
                    font-weight: 700;
                    line-height: normal;
                  }
                  p{
                    color: #696969;

                    padding: 0;
                    margin: 0;
                    font-style: normal;
                    font-weight: 400;

                  }
                }

            }
        }
    }
}


.tasks{
    background-color: var(--white);
    padding: 60px 0;
    .tasks-img{
        img{
            width: 100%;
        }
    }

    .tasks-text{
        text-align: right;
 
        span{
            color: #0086D5;
            font-size: 16px;
            font-weight: 400;
            display: block;

        }
        h2{
            color: #303030;
            font-size: 38px;
            font-weight: 700;
            padding: 10px 0 0px;

        }
        p{
            color: #303030;
            font-size: 16px;
       
            padding: 10px 0;
            font-weight: 400;

        }
        .tasks-btn{
            padding: 16px 0;
            a{
                background-color: var(--sky);
                border-radius: 4px;
                color: var(--white);
                padding: 10px 20px;
            }
        }
    }



    .boost{
        padding-top: 20px;
        .boost-text{
            span{
                color: #0086D5;
                font-size: 16px;
                font-weight: 400;
                display: block;
    
            }
            h2{
                color: #303030;
                font-size: 38px;
                font-weight: 700;
                padding: 10px 0 0px;
    
            }
            p{
                color: #303030;
                font-size: 16px;
                width: 80%;
                padding: 10px 0;
                font-weight: 400;
    
            }
            .boost-btn{
                padding: 10px 0  0;
                a{
                    background-color: var(--sky);
                    border-radius: 4px;
                    color: var(--white);
                    padding: 10px 20px;
                }

                }
            }
            .boost-img{
                img{
                    width: 100%;
                 
                }
            }
        }
    }

    .team{
        padding: 40px 0;
        text-align: center;
        span{
            color: #0086D5;
            font-size: 16px;
            font-weight: 400;
            display: block;
        }
        h2{
            color: #303030;
            font-size: 38px;
            font-weight: 700;
            padding: 10px 0 0px;
            width: 45%;
            margin: auto;
        }

        .team-card-bg{
            margin: 100px 20px 20px;
            background-color: var(--white);
            padding: 20px;
            border-radius: 15px;
            border: 1px solid var(--gray);
            position: relative;
            h3{
                color: #303030;
                font-size: 18px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                padding-top: 30px;
                margin: 0;
            }
            span{
                color: #696969;
                font-style: normal;
                display: block;
                padding: 5px 0;
                font-weight: 400;
                line-height: normal;
            }

            p{
                color: #696969;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }

            .name{
                position: absolute;
                top: -25%;
                z-index: 1;
                left: 42%;
            }
        }
    
    }



    .commonly{
        background-color: var(--white);
        padding: 80px 0;
        text-align: center;
        .asked{
            .all-part{
                padding: 60px 0 0;
            }

            span{
                color: #0086D5;

                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
            h2{
                color: #303030;
               
                font-size: 36px;
                font-style: normal;
                font-weight: 700;
                line-height: normal
            }

            .left{
                .question{
                    ul{
                        li{
                            padding: 20px;
                            border-radius: 20px;
                            margin: 20px 0;
                            border: 1px solid var(--gray);
                            transition: 0.5s;

                            .stion{
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                h3{
                                    color: #303030;
                                    font-size: 18px;
                                    font-style: normal;
                                    font-weight: 700;
                                    padding: 0;
                                    transition: 0.5s;
                                    margin: 0;
                                    line-height: normal;
                                    }
                                }
                                p{
                                    padding: 15px 0 0;
                                    color: #696969;
                                    margin: 0;
                                  display:  none;
    
                                }
                              
                         

                            &:first-child{
                                p{
                                    display: block;
                                }
                            }
                            &:hover{
                                p{
                                    display: block;
                                }
                            }

                        }
                        }
                    }
                }
            }
            .right{
                margin-top: 40px;
                img{
                    width: 100%;
                }
            }


            .boost{
                .boost-text{
                    h2{
                        width: 25px;
                    }
                }
            }

            .bg-updates{
                background-color: var(--sky);
                padding: 100px 0;
                border-radius: 30px;
                color: var(--white);
                text-align: center;
                span{
                  display: block;
                    font-size: 14px;
                    padding-bottom: 10px;
                    font-weight: 400;

                }
                h2{

                font-size: 36px;
                padding: 0;
                margin: 0;
                font-weight: 700;

                }
                p{
                    width: 40%;
                    margin: auto;
                }
                
                .input{
                    border: 1px solid var(--white);
                    border-radius: 2px;
                    padding: 12px 15px;
                    width: 24%;
                    text-align: left;
                    margin: 5px 0 0 400px;
                    input{
                        background: none;
                        border: none;
                        outline: none;
                        font-size: 16px;
                        width: 100%;
                    }
                }
                .sabscribe{
                    text-align: left;
                    padding-left: 30px;
                  
                    a{
                        background-color: var(--white);
                      padding: 12px 15px;
                        color: var(--black);
                    border-radius: 4px;
                        margin: 20px 0;
                    }
                }
            }
        }
    
        @media screen and (max-width:767px) {
            .containar{
                width: 100%;
                padding:0 15px;
            }
            .header{
                .left-manu{
                    .logo{
                        width: 100%;
                    img{
                        width: 100%;
                    }
                    }
                    .manu{
                        display: none;
                    }
                }


                .right-manu{
                    .setting-icon{
                        margin: 0;
                    }
                    .Sales{
                        display: none;
                    }
                }
            }
            .slider{
                .slider-text{
                h1{
                    font-size: 32px;
                }
                p{
                    font-size: 14px;
                    padding: 5px 0;
                }
                .input{
                    margin-left: 10px;
                }
                .button{
                    margin: 30px 0 ;
                    width: 100%;
                }


                }

            }



            .trusted{
                h2{
                    font-size: 25px;
                }
                p{
                    width: 100%;
                    font-size: 14px;

                }
                .company-logo{
                    width: 100%;
                    padding: 20px 20px 0;
                }
            }



            .about{
                padding: 40px 0;
                .about-text{
                    h2{
                        font-size: 25px;

                    }
                    p{
                        width: 100%;
                        margin: 0;
                        padding: 10px 0;
                    }
                }
                .about-text-card{
                    ul{
                        margin: 0;
                        padding: 0;
                        li{
                            padding: 0;
                            margin: 0;
                        }
                      
                    }
                    .card{
                        margin: 20px 0;
                        border: 1px solid var(--gray);
                        border-radius: 10px;
                        padding: 20px;
                        
                    }
                }
            }


            .tasks{
                .tasks-img{
                    width: 100%;
                    img{
                        width: 100%;
                    }
                }
                .tasks-text{
                    h2{
                        font-size: 25px;
                    }
                    p{
                        font-size: 14px;
                    }
                }

                .boost{
                    .boost-text{
                        h2{
font-size: 25px;
padding: 10px 0;
margin: 0;
                        }

                    }
             
                }

            }


            .team{
                h2{
                    font-size: 25px;
                    width: 100%;

                }
                ul{
                    padding: 0;
                    margin: 0;
                    li{
                        padding: 0;
                        margin: 0;
                    }
                }

            .team-card-bg{
                margin: 100px 0 0;

            }
            }

            .commonly{
                padding: 40px 0;
                .asked{
                    h2{
                        font-size: 25px;
                    }
                    .question{
                        ul{
                            padding: 0;
                            margin: 0;
                            li{
                                padding: 0;
                                margin: 0;
                                text-align: left;
                                .stion{
                                    h3{
                                        font-size: 18px;
                                    }

                                }
                            }
                        }
                    }
                }

                .bg-updates{
                    h2{
                        font-size: 25px;
                    }
                p{
                    padding: 15px 0;
                    width: 100%;
                }

                .input{
                    width: 100%;
                }
                }
            }
        }